:#root {
  max-width: 1280px;
  margin: 0 auto;
}

.card {
  padding: 1em;
}

.bg-yellow {
  background-color: yellow;
  padding: 0.5em;
  margin-top: 1em;
  text-align: center;
}

.bg-green {
  background-color: green;
  padding: 0.5em;
  margin-top: 1em;
  text-align: center;
}

.navbar-search {
  width: 35%;
}

.navbar-search .input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.navbar-search .input-group input {
    border-color: #fed700;
    border-width: 2px;
    border-style: solid;
    border-right: 0;
    border-radius: 2.467em;
    position: relative;
}

.product-outer {
  height: 403px;
}

.product-inner {
  padding: 10px;
  height: 100%;
  position: relative;
}

.product-inner .upper-container {
  overflow: hidden;
}

.product-title {
  font-weight: bold; 
}

.product-image {
  width: 100%;
}